.Carousel-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer > i {
  cursor: pointer;

  margin: 2rem;
  color: #2b71bb
}

.footer > i.hidden {
  opacity: 0;
  pointer-events: none;
}

.footer > i:hover {
  color: #1c4b7c;
}

