#nav-button{
  border-bottom: 2px solid transparent;
}

#nav-button:hover {
  border-bottom: 2px solid #2b71bb;
  color: #2b71bb;
}


/* @media screen and (max-width: 500px) {
#nav-button{
  font-size: 10px;
}

} */

 